*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../img/background.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    line-height: 1.5;
    font-weight: 100;
    text-align: justify;
    overflow: scroll;
}
h1{
    font-weight: 500;
    font-size: 60px;

}
h2{
    font-weight: 300;
    font-size: 40px;

}
h3{
    font-weight: 300;
    font-size: 30px;

}

section{
    width: 100%;
    text-align: center;
    display: block;
    /* padding: 50px; */
}
#fitting{
    width: 50%;
    margin: auto;
}
.intro{
    color: #ffff;
}

footer{
    height: 120px;
    background-color: black;
    color: #ffff;
    text-align: center;
}
.row{
    margin-top: 50px;
    margin-bottom: 50px;
    clear: both;
}
.card{
    width: 32%;
    margin-left: 1%;
    height: 250px;
    float: left;

}
.cardimg{
    width: 100%;
}

/* Option 2 in creating boxes */

.box {
    width: 50%;
    padding: 20px;
    background: #f0e68c;
    float: left;
    box-sizing: border-box;
}
.left-side{
	width: 31%;
    margin-right: 2%; 
}
.right-side{
	width: 31%;
    margin-left: 2%; 
}
/* To fix parent collapsing - See 'CSS Alignment' chapter for details */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Nav bars */
